<!DOCTYPE html>
<html>
<head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quikly/style.css' %}" />
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>
<body>

<button>Borrow</button>
{% if user.is_authenticated %}
	<div>
		<a href="{% url 'quikly:sign_out' %}">Logout</a>
	</div>
	<p>
		Hii, {{user.username}}
	</p>

	{% if cycle %}
		<form method="post">
		{% csrf_token %}
			<input type="checkbox" name="cycle_available">
			<input type="submit" value="Update" /> 
		</form>		
	{% else %}
		<form method="post">
		{% csrf_token %}
			<input type="checkbox" name="cycle_available">
			<input type="submit" value="Update" /> 
		</form>
	{% endif%}


{% else %}
	<div>
		<a href="{% url 'quikly:sign_in' %}">Sign In</a>
	</div>
	<div>
		<a href="{% url 'quikly:sign_up' %}">Sign Up</a>
	</div>
{% endif %}

{% if allow %}
	<p>
		Here
	</p>
{% endif %}


<script type="text/javascript">
    function successFunction(pos) {
	var lat = pos.coords.latitude;
    var long = pos.coords.longitude;
    $.post("{% url 'quikly:position' %}",
    {
    	latitude:lat,
    	longitude:long,
    });
}
function errorFunction(position) {
	alert('Error!');
}

	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
	} else {
		alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
	}
</script>


</body>
</html>