<!DOCTYPE html>
<html>
  <head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'quikly/ride.css' %}" />
  <link href="../../static/quikly/cycle_transparent.png" rel="icon">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

  </head>
	<body>
	<div id="top-bar">
		<div id="login_field">
			{% if user.is_authenticated %}
				<div id="nav_box">
					{{user.username}}
				</div>
				<div id="nav_box">
					<a href="{% url 'quikly:sign_out' %}">Logout</a>
				</div>
			{% else %}
					<div id="nav_box">
						<a href="{% url 'quikly:sign_in' %}">Sign In</a>
					</div>
					<div id="nav_box">
						<a href="{% url 'quikly:sign_up' %}">Sign Up</a>
					</div>				
			{% endif %}	
		</div>
		
	</div>
    <div id="map"></div>

    <div id="notification">
    	<div id="notification-content">
    		<div id="description">
    			Description
    		</div>
    		<table id="description-table">
    		<tr>
    			<td id="description-name">Name</td>
    			<td id="user-name">Rohan</td>
    		</tr>
    		<tr>
    			<td id="description-contact">Contact</td>
    			<td id="user-contact">9929728986</td>
    		</tr>
    		</table>
    	</div>
    </div>


	<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=initMap' async defer></script>
    <script>
	
	function initMap() {
      	if (navigator.geolocation){
			navigator.geolocation.getCurrentPosition( successFunction);
		} 

		else 
		{
			alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
			}
		
      }

    function successFunction(pos) {
		lat = pos.coords.latitude;
	    long = pos.coords.longitude;
		map = new Microsoft.Maps.Map(document.getElementById('map'), {
		    credentials: 'ApBC3uUFt_qROZ7IK1b5qlIxYpzlsMAx5kPHo4WUET36OGBO-4jFcwdEx2nRe8qS',
		    center: new Microsoft.Maps.Location(lat, long),
		    zoom: 12
		});
		
	    {% for cycle in cycles %}
	    	var Pin = new Microsoft.Maps.Pushpin(
	    		new Microsoft.Maps.Location({{cycle.latitude}},{{cycle.longitude}}),{
	    			icon: "{% static 'quikly/cycle_transparent.png' %}"
	    		});
	    	map.entities.push(Pin);
	    	// var userid = lenderPins[i].userid.toString();
			Microsoft.Maps.Events.addHandler(Pin, 'click', function() {
				$(notification).css("display","block");
				alert("done");
				var owner_name = "{{cycle.owner.user.username}}";
				var contact = "{{cycle.owner.phone}}";
				notify(owner_name, contact);
			});
	    {% endfor %}

		var myLocationPin = new Microsoft.Maps.Pushpin(
	    	map.getCenter(), {color: 'blue'});
	    map.entities.push(myLocationPin);

	    function notify(owner_name, contact){
	    	$("#notification").text(owner_name + " " + contact);
	    }

	}
    </script>
  </body>
</html>