<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
<form method="post">
{% csrf_token %}
	<label for="username">Username :</label>
	<input type="text" name="username" /> <br><br><br>

	<label for="first_name">First Name :</label>
	<input type="text" name="first_name" /> <br><br><br>

	<label for="last_name">Last Name :</label>
	<input type="text" name="last_name" /> <br><br><br>

	<label for="password1">Password : </label>
	<input type="password" name="password1" /> <br><br><br>

	<label for="password2">Confirm Password : </label>
	<input type="password" name="password2" /> <br><br><br>
	
	<label for="email"> Email id :</label>
	<input type="text" name="email" /> <br><br><br>

	<input type="submit" value="Sign Up" /> <br><br><br>
</form>
<br><br><br>


</body>
</html>