<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

</head>

<body>
        <center>
            <h2 >ACCOUNT LOGIN</h2>
            <form method="post">
                {% csrf_token %}
                        <label >USERNAME</label>
                        <input type="text" name="username" placeholder="Username"  required>
                    <label >PASSWORD</label><br>
                    <input type="password" name="password" placeholder= "Password"  required>
                    <input type="submit" value="Login" /> 

            </form>



        </center>
  {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
</body>
</html>
